# 忽略编译生成的目标文件
*.o

# 忽略由元对象编译器生成的文件
moc_*

# 忽略由用户界面文件编译器生成的文件
ui_*

# 忽略由资源文件编译器生成的文件
*.qrc.cpp
*.qrc.h

# 忽略编译生成的 Makefile
Makefile

# 忽略 Qt 项目的用户配置文件
*.pro.user

# 忽略由 qmake 工具生成的 .qmake.stash 文件
.qmake.stash

# 忽略编译生成的文件夹
tmp/

# 忽略可执行文件
opencv_test